{% extends "base.html" %}
{% load static %}
{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>Category</h2>
                        <div class="panel-group category-products" id="accordian">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                                            <span class="badge pull-right">
                                                <i class="fa fa-plus"></i>
                                            </span>
                                            Sportswear
                                        </a>
                                    </h4>
                                </div>
                                <div id="sportswear" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            <li>
                                                <a href="#">Nike</a>
                                            </li>
                                            <li>
                                                <a href="#">Under Armour</a>
                                            </li>
                                            <li>
                                                <a href="#">Adidas</a>
                                            </li>
                                            <li>
                                                <a href="#">Puma</a>
                                            </li>
                                            <li>
                                                <a href="#">ASICS</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                                            <span class="badge pull-right">
                                                <i class="fa fa-plus"></i>
                                            </span>
                                            Mens
                                        </a>
                                    </h4>
                                </div>
                                <div id="mens" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            <li>
                                                <a href="#">Fendi</a>
                                            </li>
                                            <li>
                                                <a href="#">Guess</a>
                                            </li>
                                            <li>
                                                <a href="#">Valentino</a>
                                            </li>
                                            <li>
                                                <a href="#">Dior</a>
                                            </li>
                                            <li>
                                                <a href="#">Versace</a>
                                            </li>
                                            <li>
                                                <a href="#">Armani</a>
                                            </li>
                                            <li>
                                                <a href="#">Prada</a>
                                            </li>
                                            <li>
                                                <a href="#">Dolce and Gabbana</a>
                                            </li>
                                            <li>
                                                <a href="#">Chanel</a>
                                            </li>
                                            <li>
                                                <a href="#">Gucci</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordian" href="#womens">
                                            <span class="badge pull-right">
                                                <i class="fa fa-plus"></i>
                                            </span>
                                            Womens
                                        </a>
                                    </h4>
                                </div>
                                <div id="womens" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            <li>
                                                <a href="#">Fendi</a>
                                            </li>
                                            <li>
                                                <a href="#">Guess</a>
                                            </li>
                                            <li>
                                                <a href="#">Valentino</a>
                                            </li>
                                            <li>
                                                <a href="#">Dior</a>
                                            </li>
                                            <li>
                                                <a href="#">Versace</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#">Kids</a>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#">Fashion</a>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#">Households</a>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#">Interiors</a>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#">Clothing</a>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#">Bags</a>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#">Shoes</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="brands_products">
                            <h2>Brands</h2>
                            <div class="brands-name">
                                <ul class="nav nav-pills nav-stacked">
                                    <li>
                                        <a href="#"> <span class="pull-right">(50)</span>Acne</a>
                                    </li>
                                    <li>
                                        <a href="#"> <span class="pull-right">(56)</span>Grüne Erde</a>
                                    </li>
                                    <li>
                                        <a href="#"> <span class="pull-right">(27)</span>Albiro</a>
                                    </li>
                                    <li>
                                        <a href="#"> <span class="pull-right">(32)</span>Ronhill</a>
                                    </li>
                                    <li>
                                        <a href="#"> <span class="pull-right">(5)</span>Oddmolly</a>
                                    </li>
                                    <li>
                                        <a href="#"> <span class="pull-right">(9)</span>Boudestijn</a>
                                    </li>
                                    <li>
                                        <a href="#"> <span class="pull-right">(4)</span>Rösch creative culture</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="price-range">
                            <h2>Price Range</h2>
                            <div class="well text-center">
                                <input type="text"
                                       class="span2"
                                       value=""
                                       data-slider-min="0"
                                       data-slider-max="200"
                                       data-slider-step="5"
                                       data-slider-value="[0,200]"
                                       id="sl2" />
                                <br />
                                <b class="pull-left">$ 0</b>
                                <b class="pull-right">$ 200</b>
                            </div>
                        </div>
                        <div class="shipping text-center">
                            <img src="{% static 'global/images/home/shipping.jpg' %}" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-9 padding-right">
                    <h2 class="title text-center">Advanced Search</h2>
                    <div class="search-form-container"
                         style="margin-bottom: 30px;
                                background: #f0f0e9;
                                padding: 20px;
                                border: 1px solid #e6e4df">
                        <form action="{% url 'search_advanced' %}" method="GET" class="form-inline">
                            <div class="form-group" style="margin-right: 10px;">
                                <input type="text"
                                       name="name"
                                       class="form-control"
                                       placeholder="Name..."
                                       value="{{ search_name }}">
                            </div>
                            <div class="form-group" style="margin-right: 10px;">
                                <select name="price" class="form-control">
                                    <option value="">Choose price</option>
                                    <option value="0-50" {% if search_price == '0-50' %}selected{% endif %}>
                                        <= 50$
                                    </option>
                                    <option value="50-100" {% if search_price == '50-100' %}selected{% endif %}>50$ - 100$</option>
                                    <option value="100-150" {% if search_price == '100-150' %}selected{% endif %}>100$ - 150$</option>
                                    <option value="150-1000"
                                            {% if search_price == '150-1000' %}selected{% endif %}>>= 150$</option>
                                </select>
                            </div>
                            <div class="form-group" style="margin-right: 10px;">
                                <select name="category" class="form-control">
                                    <option value="">Category</option>
                                    {% for cat in categories %}
                                        <option value="{{ cat.id }}"
                                                {% if search_category == cat.id %}selected{% endif %}>
                                            {{ cat.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group" style="margin-right: 10px;">
                                <select name="brand" class="form-control">
                                    <option value="">Brand</option>
                                    {% for br in brands %}
                                        <option value="{{ br.id }}" {% if search_brand == br.id %}selected{% endif %}>{{ br.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group" style="margin-right: 10px;">
                                <select name="status" class="form-control">
                                    <option value="">Status</option>
                                    <option value="0" {% if search_status == '0' %}selected{% endif %}>New</option>
                                    <option value="1" {% if search_status == '1' %}selected{% endif %}>Sale</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-warning" style="margin-top: 0;">Search</button>
                        </form>
                    </div>
                    <div class="features_items">
                        <h2 class="title text-center">Features Items</h2>
                        <div id="product-list-area">
                            {% if products %}
                                {% for product in products %}
                                    <div class="col-sm-4">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <img src="{{ MEDIA_URL }}{{ product.images.0 }}" alt="" />
                                                    <h2>${{ product.price }}</h2>
                                                    <p>{{ product.name }}</p>
                                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                                </div>
                                                <div class="product-overlay">
                                                    <div class="overlay-content">
                                                        <h2 onclick="window.location.href='{% url 'product_detail' product.id %}';">${{ product.price }}</h2>
                                                        <p onclick="window.location.href='{% url 'product_detail' product.id %}';">{{ product.name }}</p>
                                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="choose">
                                                <ul class="nav nav-pills nav-justified">
                                                    <li>
                                                        <a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a>
                                                    </li>
                                                    <li>
                                                        <a href=""><i class="fa fa-plus-square"></i>Add to compare</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <ul class="pagination">
                            {% if products.has_previous %}
                                <li>
                                    <a href="?page=1">First</a>
                                </li>
                                <li>
                                    <a href="?page={{ products.previous_page_number }}">«</a>
                                </li>
                            {% endif %}
                            {% for num in paginator.page_range %}
                                {% if products.number == num %}
                                    <li>
                                        <a class="active">{{ num }}</a>
                                    </li>
                                {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
                                    <li>
                                        <a href="?page={{ num }}">{{ num }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if products.has_next %}
                                <li>
                                    <a href="?page={{ products.next_page_number }}">»</a>
                                </li>
                                <li>
                                    <a href="?page={{ paginator.num_pages }}">Last</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            var mediaUrl = "{{ MEDIA_URL }}";

            $('#sl2').on('slideStop', function(event) {
                var value = $(this).data('slider').getValue();
                var min_price = value[0];
                var max_price = value[1];

                $('.price-range .pull-left').text('$ ' + min_price);
                $('.price-range .pull-right').text('$ ' + max_price);

                $.ajax({
                    url: "{% url 'search_price' %}",
                    type: "GET",
                    data: {
                        min: min_price,
                        max: max_price
                    },
                    success: function(res) {
                        var container = $('#product-list-area');
                        var productsHtml = res.data.map(function(product) {
                            return `
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="${mediaUrl}${product.image}" alt="" />
                                                <h2>$${product.price}</h2>
                                                <p>${product.name}</p>
                                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                            </div>
                                            <div class="product-overlay">
                                                <div class="overlay-content">
                                                    <h2 ">$${product.price}</h2> <p">${product.name}</p>
                                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="choose">
                                            <ul class="nav nav-pills nav-justified">
                                                <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                                                <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>`;
                        }).join(''); // Join de noi tat ca phan tu 
                        container.html(productsHtml);
                    }
                });
            });
        });
    </script>
{% endblock %}
